h1, h2 {
  color: black;
  text-align: center;
  font-weight: bold;
}
h3 {
  color: gray;
  text-align: center;
}
.ctr {
  display: flex;
  color: black;
  font-weight: gray;
  text-align: center;
  margin: 0% 15%;
}
.ctr p {
  display: block;
  width: 100%;
}
.ctr1 {
  display: flex;
  margin: 0% 25%;
}
ul.left {
  align-self: left;
}
ul.right {
  align-self: right;
}
